<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
         http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <filter>
        <filter-name>Filter</filter-name>
        <filter-class>ru.job4j.servlets.FilterServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Filter</filter-name>
        <url-pattern>/json</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>ServletJson</servlet-name>
        <servlet-class>ru.job4j.servlets.ServletJson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletJson</servlet-name>
        <url-pattern>/json</url-pattern>
    </servlet-mapping>
</web-app>